.scroll-container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
  }
  
  .box {
    flex: 0 0 auto;
    width: 200px;
    margin-right: 10px;
    text-align: center;
  }
  
  .box img {
    width: 100%;
    height: auto;
  }